*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 30px;
    
}
body{
    background-color: rgb(243, 190, 122);
    
}
.font-20{
font-size: 20px;
}
ul li a,.image-container a{
    text-decoration: none;
}

.cook-img{
    width: 50vw;
    height: auto;
}
.section-1{
    text-align: center;
}
.section-1 li{
    list-style: none;
}
h1{
    color: rgb(48, 13, 172);
    font-size: 40px;
}
.recipe h1{
    text-align: center;
    
}
.recipe ol{
    margin-bottom: 40px;
}
.recipe-image{
    text-align: center;
}
.recipe-image img{
    width: 30vw;
    height: auto;
    border-radius: 30px;
}
.margin{
    margin: 10px 0px;
}
.recipe-menu{
    width: 250px;
    height: 200px;
    display: block;
    margin: 0px auto;
    border-radius: 30px;
    

}
.image-container{
    display: inline-block;
    height: 250px;
    width: 40em;
    
}
.image-container h4{
    text-align: center;
   
}
.section-2{
    margin: 20px 0px;
}